# CSIT456 Exercise: Numpy & Pandas Practice

## Numpy Practice

Load the data **iris.data** and create a 2d-array called *iris* to store the first four columns (sepallenght, sepalwidth, petallength, petalwidth). 

Each row represents the data of one sample

In [18]:
import numpy as np
import pandas as pd

In [24]:
file = 'iris.data'
iris = np.genfromtxt(file, delimiter=',')
iris = iris[:,:4]
iris

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

### Exercise 1
How many samples are recorded? In other words, how many rows is in the array **iris**?

In [30]:
# write your code in this cell
iris.shape

(150, 4)

### Exercise 2
Find the mean, median, standard deviation of iris' sepalwidth (2nd column)

In [49]:
# write your code in this cell
print(np.mean(iris[:,1]), '\n', np.median(iris[:,1]), '\n', np.std(iris[:,1]))

3.0540000000000003
 3.0
 0.4321465800705435

### Exercise 3
Create a normalized form of iris' sepallength called **S** whose values range exactly between 0 and 1 so that the minimum has value 0 and maximum has value 1.

#### About normalization
In most cases, when you normalize data you eliminate the units of measurement for data, enabling you to more easily compare data from different places. Rescaling data to have values between 0 and 1 is usually called feature scaling. One possible formula to achieve this is:

x_new = x - x_min / x_max - x_min

In [51]:
# write your code in this cell
#get the column
sepallength = iris[:,0]
#find the max and the min
s_max = sepallength.max()
s_min = sepallength.min()

In [54]:
#Normalization
(sepallength - s_min) / (s_max - s_min)

array([0.22222222, 0.16666667, 0.11111111, 0.08333333, 0.19444444,
       0.30555556, 0.08333333, 0.19444444, 0.02777778, 0.16666667,
       0.30555556, 0.13888889, 0.13888889, 0.        , 0.41666667,
       0.38888889, 0.30555556, 0.22222222, 0.38888889, 0.22222222,
       0.30555556, 0.22222222, 0.08333333, 0.22222222, 0.13888889,
       0.19444444, 0.19444444, 0.25      , 0.25      , 0.11111111,
       0.13888889, 0.30555556, 0.25      , 0.33333333, 0.16666667,
       0.19444444, 0.33333333, 0.16666667, 0.02777778, 0.22222222,
       0.19444444, 0.05555556, 0.02777778, 0.19444444, 0.22222222,
       0.13888889, 0.22222222, 0.08333333, 0.27777778, 0.19444444,
       0.75      , 0.58333333, 0.72222222, 0.33333333, 0.61111111,
       0.38888889, 0.55555556, 0.16666667, 0.63888889, 0.25      ,
       0.19444444, 0.44444444, 0.47222222, 0.5       , 0.36111111,
       0.66666667, 0.36111111, 0.41666667, 0.52777778, 0.36111111,
       0.44444444, 0.5       , 0.55555556, 0.5       , 0.58333333,
       0.63888889, 0.69444444, 0.66666667, 0.47222222, 0.38888889,
       0.33333333, 0.33333333, 0.41666667, 0.47222222, 0.30555556,
       0.47222222, 0.66666667, 0.55555556, 0.36111111, 0.33333333,
       0.33333333, 0.5       , 0.41666667, 0.19444444, 0.36111111,
       0.38888889, 0.38888889, 0.52777778, 0.22222222, 0.38888889,
       0.55555556, 0.41666667, 0.77777778, 0.55555556, 0.61111111,
       0.91666667, 0.16666667, 0.83333333, 0.66666667, 0.80555556,
       0.61111111, 0.58333333, 0.69444444, 0.38888889, 0.41666667,
       0.58333333, 0.61111111, 0.94444444, 0.94444444, 0.47222222,
       0.72222222, 0.36111111, 0.94444444, 0.55555556, 0.66666667,
       0.80555556, 0.52777778, 0.5       , 0.58333333, 0.80555556,
       0.86111111, 1.        , 0.58333333, 0.55555556, 0.5       ,
       0.94444444, 0.55555556, 0.58333333, 0.47222222, 0.72222222,
       0.66666667, 0.72222222, 0.41666667, 0.69444444, 0.66666667,
       0.66666667, 0.55555556, 0.61111111, 0.52777778, 0.44444444])

## Pandas Practice

Load the data **nj_school.csv** and create a dataframe called **university**.
It contains the information of public/private colleges and universities in New Jersey.

In [55]:
university = pd.read_csv("nj_school.csv",thousands=',', index_col="School")
university.head()

,Location,Founded,Control,Type,Enrollment,Accreditation
School,,,,,,
College of New Jersey,Ewing Township,1855,Public,Master's,6964,MSA
Kean University,Union and Hillside,1855,Public,Master's,16000,MSA
Montclair State University,Montclair,1908,Public,Research university,21115,MSA
New Jersey City University,Jersey City,1929,Public,Master's,8550,MSA
New Jersey Institute of Technology,Newark,1881,Public,Research university,10130,MSA

### Exercise 4
What is the earliest instituation founded in NJ?

In [67]:
# write your code in this cell
university.Founded.min() #numerical number
university.Founded.idxmin() #references the index, which is school, which is Princeton

'Princeton University'

### Exercise 5
List all the public research universities in NJ.

In [87]:
# write your code in this cell
#get all public universities
public = university[university['Control'] == 'Public']
public
#get the type
public_research = public[public['Type'] == 'Research university']
public_research

,Location,Founded,Control,Type,Enrollment,Accreditation
School,,,,,,
Montclair State University,Montclair,1908,Public,Research university,21115,MSA
New Jersey Institute of Technology,Newark,1881,Public,Research university,10130,MSA
Rowan University,"Glassboro, Camden, and Stratford",1923,Public,Research university,18484,MSA
Rutgers University,"New Brunswick, Piscataway, Camden, and Newark",1766,Public,Research university,65000,MSA

### Exercise 6
List the records of top 5 public schools with highest number enrolled students.

Tips:
1. Select the records of all public schools.
2. Sort the selected records by the column 'Enrollment'.
3. Slice the first 5 records from the selected dataFrame.

In [94]:
# write your code in this cell
public
public_enrollment = public.sort_values(by = 'Enrollment', ascending = False)
public_enrollment[:5]

,Location,Founded,Control,Type,Enrollment,Accreditation
School,,,,,,
Rutgers University,"New Brunswick, Piscataway, Camden, and Newark",1766,Public,Research university,65000,MSA
Montclair State University,Montclair,1908,Public,Research university,21115,MSA
Rowan University,"Glassboro, Camden, and Stratford",1923,Public,Research university,18484,MSA
Kean University,Union and Hillside,1855,Public,Master's,16000,MSA
Thomas Edison State University,Trenton,1972,Public,Master's,10934,MSA