# CSIT 356: Lab 2: Numpy and Pandas
## Mohammed Al-Shalchy

### Instruction
The file name is data.csv. It contains the information of all municipalities in New Jersery. The meaning of each colunmn is as follows:

* Municipality: the name of the municipality 
* County: the county that the municipality belongs to 
* POP2010: the population of a municipality in 2010 
* POP2017: the population of a municipality in 2017 
* MunicipalType: the type of a municipality

In this assignment, please use the functions and operations in pandas to answer the following questions. 


#### About submission
This assignment is due at 11:59 pm on Oct. 2nd. You need to finish all questions of both In-class exercise and homework. Name your ipynb file as StudentName_lab2.ipynb and submit it on Canvas.

PLEASE ENSURE THAT THE SCRIPT CAN CORRECTLY EXECUTE!!!

In [1]:
# import pandas
# Don't delete this cell

import pandas as pd

## In-class Exercise

## Exercise 0 
Read the file data.csv as a dataFrame named **df**. Assign the column 'Municipal' as the row index.   
  
#### Note  
1. Use **read_csv** to read the file to be a dataFrame
2. Set the argument **index_col** to be the name of the first column
3. Set the argument **thousands** to be ',' since there are thousand separators in the file

In [3]:
df = pd.read_csv ("data.csv", thousands=',', index_col="Municipality")
df

                         County  POP2010  POP2017 MunicipalType
Municipality
Aberdeen               Monmouth    18157    18232      Township
Absecon                Atlantic     8411     8283          City
Alexandria Township   Hunterdon     4938     4805      Township
Allamuchy                Warren     4323     4644      Township
Allendale                Bergen     6505     6906       Borough
...                         ...      ...      ...           ...
Woodlynne                Camden     2978     2947       Borough
Woodstown                 Salem     3505     3454       Borough
Woolwich Township    Gloucester    10200    12472      Township
Wrightstown          Burlington      802      785       Borough
Wyckoff                  Bergen    16635    16941      Township

[565 rows x 4 columns]

## Exercise 1 (5 points)
What is the name of the municipality with the most population in 2017?

In [22]:
# You should write your answer within this cell
# write your code of exercise 1 here
df["POP2017"].idxmax()

'Newark'

## Exercise 2  (5 points)
How many municipalities are there in each county? The output should be a Series with the county name as the index and the number as the value.  
#### Hint: 
Choose the column of 'County' and use **values_counts** function to calculate the frequencies of values in that column.

In [21]:
# You should write your answer within this cell
# write your code of exercise 2 here

df["County"].value_counts()

Bergen        70
Monmouth      53
Burlington    40
Morris        39
Camden        37
Ocean         33
Hunterdon     26
Middlesex     25
Gloucester    24
Sussex        24
Atlantic      23
Warren        22
Essex         22
Union         21
Somerset      21
Cape May      16
Passaic       16
Salem         15
Cumberland    14
Mercer        12
Hudson        12
Name: County, dtype: int64

## Exercise 3 (5 points)
Which municipality has the largest increasing in population from 2010 to 2017?
The output should be a string.

In [23]:
# You should write your answer within this cell
# write your code of exercise 3 here
(df['POP2017']-df['POP2010']).idxmax()

'Jersey City'

## Exercise 4 (5 points)
What is the total population of the Essex county in 2017? The output should be an integer. 
#### Hint
1. Create a new dataFrame which selects the rows that are 'Essex' in the column 'County'
2. Choose the column 'POP2017' of the new dataFrame
3. Apply sum method to get the sum of that column

In [2]:
# You should write your answer within this cell
# write your code of question 4 here

df[df["MunicipalType"] == "Township"] ["POP2010"].idxmax()

NameError: name 'df' is not defined

## Exercise 5 (5 points)
Find the top five municipalities in population of 2017. List their county and the population of 2017. The output should be a dataFrame with two columns 'County' and 'POP2017', and the municipality as the index.

#### Hint
1. Sort **df** by the values in the column 'POP2017' in descending order. 
2. Choose the first 5 rows of the sorted **df**, and select their columns 'County' and 'POP2017'

In [88]:
# You should write your answer within this cell
# write your code of question 5 here
df_big_pop = df.sort_values(by = "POP2017", ascending = False)[:5]
df_big_pop[["County", "POP2017"]]

               County  POP2017
Municipality
Newark          Essex   285154
Jersey City    Hudson   270753
Paterson      Passaic   148678
Elizabeth       Union   130215
Lakewood        Ocean   102682

## Homework

### Question 1 (6 points)
What is the name of the township with the most population in 2010?

In [4]:
# You should write your answer within this cell
# write your code of question 1 here

df[df["MunicipalType"] == "Township"] ["POP2010"].idxmax()

'Edison'

### Question 2 (6 points)
How many boroughs are there in each county? The output should be a Series with the county name as the index and the number as the value.

In [20]:
# You should write your answer within this cell
# write your code of question 2 here

df2 = df[df["MunicipalType"] == "Borough"] ["County"]
df2.value_counts()

Bergen        56
Monmouth      35
Camden        27
Ocean         19
Morris        16
Middlesex     12
Somerset      12
Gloucester    10
Hunterdon     10
Passaic       10
Sussex         8
Cape May       7
Union          7
Burlington     6
Essex          5
Mercer         4
Atlantic       3
Salem          3
Warren         2
Cumberland     1
Hudson         1
Name: County, dtype: int64

### Question 3 (6 points)
What is the total population of the Morris county in 2010? The output should be an integer.

In [29]:
# You should write your answer within this cell
# write your code of question 3 here

df3 = df[df["County"] == "Morris"]
df3["POP2010"].sum()

490286

### Question 4 (7 points)
Find the five municipalities with least population of 2010. List their county, municipal type and the population of 2010. The output should be a dataFrame with three columns 'County', 'MunicipalType' and 'POP2010', and the municipality as the index.

In [63]:
# You should write your answer within this cell
# write your code of question 4 here
df4 = df[["POP2010", "MunicipalType"]].sort_values(by = "POP2010")
df4.head()

                  POP2010 MunicipalType
Municipality
Tavistock               5       Borough
Pine Valley            12       Borough
Walpack Township       16      Township
Teterboro              67       Borough
Loch Arbour           194       Village